doctype html
html(lang="en")
  head
    title=name()
    meta(charset="UTF-8")
    meta(name="Description" content=desc())
    meta(name="theme-color" content=theme())
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    // scripts
    script&attributes(scriptAttributes('bundle.js'))
    script&attributes(scriptAttributes('pwa.js'))
    script&attributes(scriptAttributes('index.js'))
    // css
    link(rel='stylesheet' href=assetPath('index.css'))
    // icons
    //link(rel="icon" href="favicon.ico" type="image/x-icon")
    //each icon in iconLinks()
    //  link(rel=icon.rel sizes=icon.sizes href=icon.href)
    // pwa
    link(rel="manifest", href="manifest.webmanifest")
  body
    div.flex
      div.flex.column.page
        div#palette.column
          .toolbar.pin
            select#model
              option(value='se') iPhone SE
              option(value='eight') iPhone 6/7/8
              option(value='eightplus') iPhone 6/7/8 Plus
              option(value='xr') iPhone XR
              option(value='xs') iPhone Xs
              option(value='xsmax') iPhone Xs Max
            .grow
            input#background-color(type='color')
          #iphone
        .toolbar.make
          button#make-wallpaper(type=button) Make Wallpaper
      div#images.page
        .toolbar.pin
          .center Drag & Drop Photos here
          .grow
          button#delete-photos Delete
        div#gallery
        #about
          :markdown-it
            This is a [PWA](https://developer.mozilla.org/en-US/docs/Web/Apps/Progressive). It can be used offline, it does not communicate with any servers. All images and photos stay on your machine, everything is done in your browser. Source code is available on [GitHub](https://github.com/firien/wallpaper).
        